{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oil Condition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://techenomics.net">
            <img src="{% static 'sensor/techenomics.png' %}">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">
                Home
            </a>
            <a class="navbar-item" href="{% url 'dashboard' %}">
                Dashboard
            </a>
            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if user.is_authenticated %}
                    <p class="is-size-7">Logged in as {{ user.username }} &nbsp;&nbsp;</p>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="button is-primary" type="submit">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'register' %}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{% url 'login' %}">
                            Log in
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>ROCM</strong> by <a href="http://www.techenomics.net">Techenomics</a> - 2020.
    </p>
  </div>
</footer>
</body>
</html>