{% extends 'sensor/base.html' %}

{% block content %}
    <div class="section">
        <div class="">
            <div class="columns">
                <div class="column is-one-quarter">
                    {% include 'sensor/left_nav.html' %}
                </div>
                <div class="column">
                    <section class="hero is-light">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    Sensor Dashboard
                                </h1>
                                <h2 class="subtitle">
                                    Select machine on left navigation!
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut beatae deleniti dolorum, eos, esse eveniet explicabo id iure laborum libero modi mollitia omnis quod recusandae repellendus rerum sunt, tenetur!</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
